doctype html
html
    head
        title
    body
    p.
        Dear #{ email },
    p.
        We are providing you with a new temporary password for the <b>Hashcode MSO</b> system
    p.
        Your ID: #{id}
    p.
        Temporary Password: #{password}
    p.
        Please use the above ID, temporary password to log in to your account via link #{url}.
    p.
        Please do not reply to this email.